<?php
/**
 * Copy this file to the global config directory of your ZF application and 
 * rename it to bc_zflesscompiler.[global|local|...].php and adjust the settings to fit your needs.
 *
 * When you set a sourcefolder ALWAYS set a targetfolder!
 * When you set multiple sourcefolders ALWAYS set the corresponding targetfolders and 
 * use unique and corresponding keys.
 *
 * So: sourcefolder['default'] = ... and targetfolder['default'] = ..., note the corresponding 'default' keys
 * 
 * @example The configuration file could be something like this
 * $rpath = realpath(getcwd());
 * 
 * return array(
 * 		'BC_LessCompiler' => array(
 * 			'importDir' => $rpath . '/less/inc/',
 * 			'sourceFolder' => array(
 * 				'default' => $rpath . '/less/',
 * 			),
 * 			'targetFolder' => array(
 * 		 		'default' => $rpath . '/public/css/',
 * 			),
 * 		),
 * 	);
 *
 * It is even possible to have multiple sourcefolders be compiled to one css file.
 * To achieve this, you'll have to supply a array key for the sourceFolder array which contains an array of source-directories.
 * And the target folder with the same key has to be the name of a css file.
 *
 * @example
 * return array(
 * 		'BC_LessCompiler' => array(
 * 			'importDir' => $rpath . '/less/inc/',
 * 			'sourceFolder' => array(
 * 				'default' => $rpath . '/less/',
 * 				'test' => array (
 * 					$rpath . '/test-less-dir-a/',
 * 					$rpath . '/test-less-dir-b/',
 * 				 	$rpath . '/test-less-dir-c/',	
 * 				),
 * 			),
 * 			'targetFolder' => array(
 * 		 		'default' => $rpath . '/public/css/',
 * 		 		'test' => $rpath . '/public/css/test/merged.css',
 * 			),
 * 		),
 * 	);
 * 
 */
return array(
	'BC_ZFLessCompiler' => array(
		/* Put your custom settings here */
	),
);